<%- include('partials/header.ejs') -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <br>
        <input class="form-control" type="text" name="postTitle">
        <br>
        <label for="postBody">Post</label>
        <br>
        <textarea class="form-control" name="postBody" cols="40" rows="5"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
</form>

<%- include('partials/footer.ejs') -%>